ul {
    display: flex;
    padding: unset;
    margin: 0%;
    height: 3em;
    background-color: #cf88dd; 
}

ul > li {
    margin:  auto;
    text-align: center;
    list-style-type: none;
}

p {
    color: rgb(240, 240, 240);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}


