.page {
    background-color: #8866af;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.caption {
    font-size: small;
    color: #cabccc;
    text-indent:0;
}

p {
    color: #fbe7ff; 
}

h2 {
    display: inline-block;
    text-decoration: underline;
}

a {
    color: #fbe7ff; 
    text-decoration: underline;  
}

.page > main
{
    color: #fbe7ff;
    font-family: Helvetica;
    margin: 0 10%;
    padding: 0;
    max-width: 50em;

}

.page > main > h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 0;
}

.page > main > p {
    margin: 0 0 1 0;
    padding: 0;
    text-indent: 50px;
}

ul.aboutNav {
    max-width:fit-content;
}

p.aboutNav:hover,
h2.aboutNav:hover,
a:hover {
    color: #510061;
}

